.vwIntervalBar {
  position: relative;
  height: 12px;
}

.vwIntervalBar-interval {
  position: absolute;

  .vwIntervalBar-interval-button {
    display: block;
    width: 100%;
    height: 12px;
  }
}
